@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Lato&family=Leckerli+One&family=Lexend:wght@600&family=Poppins:wght@500;700&display=swap');

#header {
    margin: 50px 180px auto 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: relative;
}

#main-desc {
    margin: 30px 800px auto 180px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    position: relative;
}

#desc-first-part {
    color: red;
}

#picture-cont {
    margin: 30px 790px auto 210px;
    position: relative;
}

.desc-img {
    width: 280px;
    height: 300px;
    padding: 5px;
    object-fit: cover;
}

#detail-desc-cont-outer {
    margin: 30px 750px auto 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#detail-desc-cont-inner-left {
    width: 500px;
    padding-right: 25px;
}

#detail-desc-cont-inner-right {
    width: 370px;
    margin: 15px auto 50px 50px;
    background-color: #D9D9D9;
}

.square-point {
    height: 20px;
    width: 20px;
    background-color: #0064FA;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
}

.square-point:first-child {
    background-color: #d60000;

}

.sub-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;

}

.sub-title-desc {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-weight: 500;
    font-size: 18px;
    margin: 30px auto 30px 30px;
}

.second-sub-para {
    margin-top: 20px;
}

#summary-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}

#summary-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
}

#summary-pic {
    width: 300px;
    margin-left: 35px;
    margin-top: 20px;
    object-fit: cover;
}

#summary-pic-desc {
    font-family: 'Abyssinica SIL', sans-serif;
    color: #0064FA;
    font-size: 13px;
    text-align: center;
}

.summary-sub-headings {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #8F9B00;
    color: white;
}

.summary-sub-headings:nth-last-child(2) {
    background-color: #9B0054;
}

#summary-hyperlink {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    
}

#summary-hyperlink-font {
    color: #2942CA;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#summary-animal-spec-details{
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

.summary-spec-table-col {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-weight: 600;
    font-size: 15px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.summary-spec-table-row {
    padding-bottom: 50px;
}

.summary-spec-table-col:last-child {
    color: #2942CA;
}

footer {
    font-family: 'Leckerli One', sans-serif;
    padding-left: 350px;
    font-size: 60px;
    position: relative;
}