@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

#header {
    margin: 50px 180px auto 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: relative;
}

#main-desc {
    margin: 30px 800px auto 180px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    position: relative;
}

#desc-first-part {
    color: red;
}

#picture-cont {
    margin: 30px 800px auto 200px;
    position: relative;
}

.desc-img {
    width: 280px;
    height: 300px;
    padding: 5px;
    object-fit: cover;
}

#detail-desc-cont-outer {
    border: 2px solid red;
    margin: 30px 100px auto 190px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#detail-desc-cont-inner-left {
    border: 2px solid blue;
    width: 50%;
    padding-right: 50px;
    
}

#detail-desc-cont-inner-right {
    border: 2px solid green;
    width: 45%;
    background-color: #D9D9D9;

}