@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;700&display=swap');

#header {
    margin: 50px 180px auto 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: relative;
}

#main-desc {
    margin: 30px 800px auto 180px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    position: relative;
}

#desc-first-part {
    color: red;
}

#picture-cont {
    margin: 30px 790px auto 210px;
    position: relative;
}

.desc-img {
    width: 280px;
    height: 300px;
    padding: 5px;
    object-fit: cover;
}

#detail-desc-cont-outer {
    border: 2px solid palegreen;
    margin: 30px 750px auto 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#detail-desc-cont-inner-left {
    width: 55%;
    margin-right: 15px;
}

#detail-desc-cont-inner-right {
    width: 350px;
    margin: 15px auto 20px 50px;
    background-color: #D9D9D9;
}

.square-point {
    height: 20px;
    width: 20px;
    background-color: #0064FA;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
}

.square-point:first-child {
    background-color: #d60000;

}

.sub-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;

}

.sub-title-desc {
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-weight: 500;
    font-size: 18px;
    margin: 30px auto 30px 30px;
}

.second-sub-para {
    margin-top: 20px;
}